# Explora aquí

Se recomienda utilizar este cuaderno con fines de exploración.

In [ ]:
import os
from bs4 import BeautifulSoup
import requests
import time
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import re as re
import pandas as pd




#1 URL del recurso 
resource_url = "https://ycharts.com/companies/TSLA/revenues"




#Encabezados que simulan una solicitud desde un navegador

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept-Encoding": "gzip, deflate, br",
    "Connection": "keep-alive",
}

#2 Petición para descargar el fichero de Internet
response = requests.get(resource_url, headers=headers)

# Si la petición se ha ejecutado correctamente (código 200), entonces el contenido HTML de la página se ha podido descargar
if response.status_code == 200:
    #3 Transformamos el HTML plano en un HTML real (estructurado y anidado, con forma de árbol)
    soup = BeautifulSoup(response.text, 'html.parser') # es más actual que usar solo 'html'

print(response.status_code)

soup


# Obtener todos los elementos de tipo 'td' del documento HTML
data_rows = soup.find_all("tr")

print(data_rows)

extracted_data = []

for row in data_rows:
    columns = row.find_all("td")
    columns =[ele.text.strip() for ele in columns]
    if columns:
            extracted_data.append(columns)


# Creación del DataFrame
df = pd.DataFrame(extracted_data, columns=["Date", "Revenue"])  #


# Filtrar filas donde "Revenue" no esté vacío
df = df[df["Revenue"] != ""]

# Selecciona las primeras 50 filas para df_clean
df_clean = df.head(50)


# Convierte "Date" a formato de fecha
df_clean["Date"] = pd.to_datetime(df_clean["Date"])


 #Función para convertir valores a millones
def convert_to_millions(value):
    try:
        if 'B' in value:
            # Elimina 'B', convierte a float y multiplica por 1000 para pasar a millones
            return float(value.replace('B', '').replace(',', '').strip()) * 1000
        elif 'M' in value:
            # Elimina 'M', convierte directamente a float
            return float(value.replace('M', '').replace(',', '').strip())
        else:
            # Retorna NaN si el valor no contiene 'B' o 'M'
            return float('nan')
    except ValueError:
        return float('nan')

# Aplica la conversión en la columna "Revenue"
df_clean["Revenue"] = df_clean["Revenue"].apply(convert_to_millions)

display(df_clean)

200
[<tr>
<th>Date</th>
<th class="text-right">Value</th>
</tr>, <tr>
<td>September 30, 2024</td>
<td class="text-right">

                                25.18B

                        </td>
</tr>, <tr>
<td>June 30, 2024</td>
<td class="text-right">

                                25.50B

                        </td>
</tr>, <tr>
<td>March 31, 2024</td>
<td class="text-right">

                                21.30B

                        </td>
</tr>, <tr>
<td>December 31, 2023</td>
<td class="text-right">

                                25.17B

                        </td>
</tr>, <tr>
<td>September 30, 2023</td>
<td class="text-right">

                                23.35B

                        </td>
</tr>, <tr>
<td>June 30, 2023</td>
<td class="text-right">

                                24.93B

                        </td>
</tr>, <tr>
<td>March 31, 2023</td>
<td class="text-right">

                                23.33B

                        </td>
</tr>, <tr>
<td>December 31, 2022</td>
<td class="text-right">

                                24.32B

                        </td>
</tr>, <tr>
<td>September 30, 2022</td>
<td class="text-right">

                                21.45B

                        </td>
</tr>, <tr>
<td>June 30, 2022</td>
<td class="text-right">

                                16.93B

                        </td>
</tr>, <tr>
<td>March 31, 2022</td>
<td class="text-right">

                                18.76B

                        </td>
</tr>, <tr>
<td>December 31, 2021</td>
<td class="text-right">

                                17.72B

                        </td>
</tr>, <tr>
<td>September 30, 2021</td>
<td class="text-right">

                                13.76B

                        </td>
</tr>, <tr>
<td>June 30, 2021</td>
<td class="text-right">

                                11.96B

                        </td>
</tr>, <tr>
<td>March 31, 2021</td>
<td class="text-right">

                                10.39B

                        </td>
</tr>, <tr>
<td>December 31, 2020</td>
<td class="text-right">

                                10.74B

                        </td>
</tr>, <tr>
<td>September 30, 2020</td>
<td class="text-right">

                                8.771B

                        </td>
</tr>, <tr>
<td>June 30, 2020</td>
<td class="text-right">

                                6.036B

                        </td>
</tr>, <tr>
<td>March 31, 2020</td>
<td class="text-right">

                                5.985B

                        </td>
</tr>, <tr>
<td>December 31, 2019</td>
<td class="text-right">

                                7.384B

                        </td>
</tr>, <tr>
<td>September 30, 2019</td>
<td class="text-right">

                                6.303B

                        </td>
</tr>, <tr>
<td>June 30, 2019</td>
<td class="text-right">

                                6.35B

                        </td>
</tr>, <tr>
<td>March 31, 2019</td>
<td class="text-right">

                                4.541B

                        </td>
</tr>, <tr>
<td>December 31, 2018</td>
<td class="text-right">

                                7.226B

                        </td>
</tr>, <tr>
<td>September 30, 2018</td>
<td class="text-right">

                                6.824B

                        </td>
</tr>, <tr>
<th>Date</th>
<th class="text-right">Value</th>
</tr>, <tr>
<td>June 30, 2018</td>
<td class="text-right">

                                    4.002B

                            </td>
</tr>, <tr>
<td>March 31, 2018</td>
<td class="text-right">

                                    3.409B

                            </td>
</tr>, <tr>
<td>December 31, 2017</td>
<td class="text-right">

                                    3.288B

                            </td>
</tr>, <tr>
<td>September 30, 2017</td>
<td class="text-right">

                                    2.985B

                            </td>
</tr>, <tr>
<td>June 30, 2017</td>
<td class="text-right">

                                    2.790B

                            </td>
</tr>, <tr>
<td>March 31, 2017</td>
<td class="text-right">

                                    2.696B

                            </td>
</tr>, <tr>
<td>December 31, 2016</td>
<td class="text-right">

                                    2.285B

                            </td>
</tr>, <tr>
<td>September 30, 2016</td>
<td class="text-right">

                                    2.298B

                            </td>
</tr>, <tr>
<td>June 30, 2016</td>
<td class="text-right">

                                    1.270B

                            </td>
</tr>, <tr>
<td>March 31, 2016</td>
<td class="text-right">

                                    1.147B

                            </td>
</tr>, <tr>
<td>December 31, 2015</td>
<td class="text-right">

                                    1.214B

                            </td>
</tr>, <tr>
<td>September 30, 2015</td>
<td class="text-right">

                                    936.79M

                            </td>
</tr>, <tr>
<td>June 30, 2015</td>
<td class="text-right">

                                    954.98M

                            </td>
</tr>, <tr>
<td>March 31, 2015</td>
<td class="text-right">

                                    939.88M

                            </td>
</tr>, <tr>
<td>December 31, 2014</td>
<td class="text-right">

                                    956.66M

                            </td>
</tr>, <tr>
<td>September 30, 2014</td>
<td class="text-right">

                                    851.80M

                            </td>
</tr>, <tr>
<td>June 30, 2014</td>
<td class="text-right">

                                    769.35M

                            </td>
</tr>, <tr>
<td>March 31, 2014</td>
<td class="text-right">

                                    620.54M

                            </td>
</tr>, <tr>
<td>December 31, 2013</td>
<td class="text-right">

                                    615.22M

                            </td>
</tr>, <tr>
<td>September 30, 2013</td>
<td class="text-right">

                                    431.35M

                            </td>
</tr>, <tr>
<td>June 30, 2013</td>
<td class="text-right">

                                    405.14M

                            </td>
</tr>, <tr>
<td>March 31, 2013</td>
<td class="text-right">

                                    561.79M

                            </td>
</tr>, <tr>
<td>December 31, 2012</td>
<td class="text-right">

                                    306.33M

                            </td>
</tr>, <tr>
<td>September 30, 2012</td>
<td class="text-right">

                                    50.10M

                            </td>
</tr>, <tr>
<td>June 30, 2012</td>
<td class="text-right">

                                    26.65M

                            </td>
</tr>, <tr>
<td><a href="/companies/GM/revenues">General Motors Co</a></td>
<td class="colTxtShort text-right">


                                48.76B


                    </td>
</tr>, <tr>
<td><a href="/companies/F/revenues">Ford Motor Co</a></td>
<td class="colTxtShort text-right">


                                46.20B


                    </td>
</tr>, <tr>
<td><a href="/companies/LCID/revenues">Lucid Group Inc</a></td>
<td class="colTxtShort text-right">


                                200.04M


                    </td>
</tr>, <tr>
<td><a href="/companies/RIVN/revenues">Rivian Automotive Inc</a></td>
<td class="colTxtShort text-right">


                                874.00M


                    </td>
</tr>, <tr>
<td><a href="/companies/WKSP/revenues">Worksport Ltd</a></td>
<td class="colTxtShort text-right">


                                1.922M


                    </td>
</tr>, <tr>
<td><a href="/companies/TSLA/net_income">Net Income (Quarterly)</a></td>
<td class="text-right">


                                        2.167B


                            </td>
</tr>, <tr>
<td><a href="/companies/TSLA/expenses">Total Expenses (Quarterly)</a></td>
<td class="text-right">


                                        22.41B


                            </td>
</tr>, <tr>
<td><a href="/companies/TSLA/eps">EPS Diluted (Quarterly)</a></td>
<td class="text-right">


                                        0.62


                            </td>
</tr>, <tr>
<td><a href="/companies/TSLA/enterprise_value">Enterprise Value</a></td>
<td class="text-right">


                                        1.035T


                            </td>
</tr>, <tr>
<td><a href="/companies/TSLA/gross_profit_margin">Gross Profit Margin (Quarterly)</a></td>
<td class="text-right">


                                        19.84%


                            </td>
</tr>, <tr>
<td><a href="/companies/TSLA/profit_margin">Profit Margin (Quarterly)</a></td>
<td class="text-right">


                                        8.61%


                            </td>
</tr>, <tr>
<td><a href="/companies/TSLA/earning_yield">Earnings Yield</a></td>
<td class="text-right">


                                        1.16%


                            </td>
</tr>, <tr>
<td><a href="/companies/TSLA/operating_earning_yield">Operating Earnings Yield</a></td>
<td class="text-right">


                                        0.75%


                            </td>
</tr>, <tr>
<td><a href="/companies/TSLA/norm_earning_yield">Normalized Earnings Yield</a></td>
<td class="text-right">


                                        1.213


                            </td>
</tr>]

/tmp/ipykernel_860/1778781363.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["Date"] = pd.to_datetime(df_clean["Date"])
/tmp/ipykernel_860/1778781363.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["Revenue"] = df_clean["Revenue"].apply(convert_to_millions)

         Date   Revenue
0  2024-09-30  25180.00
1  2024-06-30  25500.00
2  2024-03-31  21300.00
3  2023-12-31  25170.00
4  2023-09-30  23350.00
5  2023-06-30  24930.00
6  2023-03-31  23330.00
7  2022-12-31  24320.00
8  2022-09-30  21450.00
9  2022-06-30  16930.00
10 2022-03-31  18760.00
11 2021-12-31  17720.00
12 2021-09-30  13760.00
13 2021-06-30  11960.00
14 2021-03-31  10390.00
15 2020-12-31  10740.00
16 2020-09-30   8771.00
17 2020-06-30   6036.00
18 2020-03-31   5985.00
19 2019-12-31   7384.00
20 2019-09-30   6303.00
21 2019-06-30   6350.00
22 2019-03-31   4541.00
23 2018-12-31   7226.00
24 2018-09-30   6824.00
25 2018-06-30   4002.00
26 2018-03-31   3409.00
27 2017-12-31   3288.00
28 2017-09-30   2985.00
29 2017-06-30   2790.00
30 2017-03-31   2696.00
31 2016-12-31   2285.00
32 2016-09-30   2298.00
33 2016-06-30   1270.00
34 2016-03-31   1147.00
35 2015-12-31   1214.00
36 2015-09-30    936.79
37 2015-06-30    954.98
38 2015-03-31    939.88
39 2014-12-31    956.66
40 2014-09-30    851.80
41 2014-06-30    769.35
42 2014-03-31    620.54
43 2013-12-31    615.22
44 2013-09-30    431.35
45 2013-06-30    405.14
46 2013-03-31    561.79
47 2012-12-31    306.33
48 2012-09-30     50.10
49 2012-06-30     26.65

In [14]:
# Conectar a la base de datos (crea el archivo si no existe)
conn = sqlite3.connect("tesla_revenue.db")
cursor = conn.cursor()

# Crear la tabla "revenue" si no existe
cursor.execute("""
    CREATE TABLE IF NOT EXISTS revenue (
        Date TEXT,
        Revenue REAL
    )
""")

df_clean.to_sql("revenue", conn, if_exists="replace", index=False)

print("Datos almacenados en la base de datos 'tesla_revenue.db'")

Datos almacenados en la base de datos 'tesla_revenue.db'